@import '../../../styles/variables.scss';
.aluno {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  max-width: 300px;
  background-color: #1E2834;
  overflow: hidden;
  border-radius: 20px;
  .alunoImage {
    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 2.5px solid #fff;
      transform: scale(.9) translateZ(50px);      background-color: #fff;
      margin-right: 10px;
    }
    background-color: $alunoimgNormal;

    &.alunoImgClicked{
      transition: ease-in-out 50ms;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      background-color: $alunoimgfaltaColor;
      backface-visibility: hidden;
    }
    
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}
    padding: 2rem;
  }
  .alunoInfo{
    text-align: center;
    color: rgb(227, 221, 221);
  }
 
}
