@import '../../../styles/variables.scss';
.aluno {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  max-width: 300px;
  background-color: #1E2834;
  overflow: hidden;
  border-radius: 20px;
  .alunoImage {
    img {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 2.5px solid #fff;
      transform: scale(.9) translateZ(50px);      background-color: #fff;
      margin-right: 10px;
    }
    background-color: $alunoimgNormal;
    &.alunoImgClicked{
      background-color: red;
    }
    padding: 2rem;
  }
  .alunoInfo{
    text-align: center;
    color: rgb(227, 221, 221);
  }
 
}
